# systemd service for managing all tomcat autoconfiguration.

[Unit]
Description=Tomcat Server Autodiscovery %i.
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-tomcat-autodiscovery %i
ExecReload=/bin/bash /usr/libexec/device-tomcat-autodiscovery %i
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

