# systemd service for managing all 389ds autoconfiguration.

[Unit]
Description=389 Directory Server Autodiscovery %i.
#Requires=dirsrv.target
PartOf=dirsrv.target
ReloadPropagatedFrom=dirsrv@%i.service
Before=dirsrv@%i.service
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-389ds-autodiscovery %i
ExecReload=/bin/bash /usr/libexec/device-389ds-autodiscovery %i
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

