# systemd service for managing all tomcat autoconfiguration.

[Unit]
Description=Tomcat Server Autodiscovery %i.
Before=httpd-autodiscovery.service
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/tomcat %i
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/tomcat %i
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

